# CMake-related files and directories
/CMakeFiles
/CMakeCache.txt
/CMakeScripts
/CMakeSettings.json
/CMakeSettings.json
/CMakePredefinedTargets.cmake
/Testing
/*.cmake

# Compiled executables
/*.exe
/*.out

# Compiled object files
/*.o
/*.obj

# Visual Studio Code related files
/.vscode

# Sublime Text related files
/.vscode

# macOS related files
.DS_Store

# Linux and macOS related files
*/.DS_Store

# Build directory
/build

# C++ related files and directories
*.suo
*.user
*.sdf
*.opensdf
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.pdb

# C++ static libraries
*.a

# Other common libraries
*.lib
*.dll
*.so
*.dylib
