# CMake-related files and directories
/CMakeFiles
/CMakeCache.txt
/CMakeScripts
/CMakeSettings.json
/CMakeSettings.json
/CMakePredefinedTargets.cmake
/Testing
/*.cmake

# Compiled executables
/*.exe
/*.out

# Compiled object files
/*.o
/*.obj

# Visual Studio Code related files
/.vscode

# Sublime Text related files
/.vscode

# macOS related files
.DS_Store

# Linux and macOS related files
*/.DS_Store

# Build directory
/build
